# CMake build directory. Created by instructions in docs/BUILDING.md and
# plugin/vscode/BUILDING.md.
/build/

# Nix symlink. Created by instructions in docs/BUILDING.md.
/result

# Directories Created by JetBrains CLion.
/.cache/
/.idea/
/cmake-build-*/
