# Configure GitHub's Linguist.
# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
*.h linguist-language=C++
/** -linguist-vendored
/vendor/*/** linguist-vendored
/vendor/*.patch linguist-detectable
/benchmark/benchmark-lsp/corpus/** -linguist-detectable
/** -linguist-documentation
/docs/** linguist-documentation
/docs/analytics/** -linguist-documentation
/website/** linguist-documentation

# Auto detect text files and perform LF normalization
* text=auto