# Configure GitHub's Linguist.
# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
*.h linguist-language=C++
/** -linguist-vendored
/vendor/*/** linguist-vendored
/vendor/*.patch linguist-detectable
/benchmark/benchmark-lsp/corpus/** -linguist-detectable
/** -linguist-documentation
/docs/** linguist-documentation
/docs/analytics/** -linguist-documentation
/website/** linguist-documentation

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cpp text
*.h text
*.pot
