# Copyright (C) 2020  Matthew Glazar
# See end of file for extended copyright information.

[Unit]
Description = Prune old quick-lint-js build artifacts

[Service]
Type = oneshot

ExecStart = python3 /home/github-ci/prune-old-builds.py -f /home/github-ci/qljs /var/www/c.quick-lint-js.com/builds/ https://github.com/quick-lint/quick-lint-js

StandardOutput = append:/home/github-ci/prune-log.txt
StandardError = inherit

User = github-ci

Restart = no
TimeoutStartSec = 180min

# Don't hinder user HTTP requests.
Nice = 15
CPUSchedulingPolicy = batch
IOSchedulingClass = idle

# quick-lint-js finds bugs in JavaScript programs.
# Copyright (C) 2020  Matthew Glazar
#
# This file is part of quick-lint-js.
#
# quick-lint-js is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# quick-lint-js is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with quick-lint-js.  If not, see <https://www.gnu.org/licenses/>.
