# Copyright (C) 2020  Matthew Glazar
# See end of file for extended copyright information.

[Unit]
Description = Save IRC chat messages

[Service]
Type = simple

ExecStart = weechat-headless \
    -r '/set logger.file.flush_delay 0' \
    -r '/set irc.server_default.nicks "qljs_logger,qljs_logger2,qljs_logger3,qljs_logger4"' \
    -r '/set irc.server_default.username "qljs-chat-sync"' \
    -r '/server add libera irc.libera.chat/6697 -ssl' \
    -r '/set irc.server.libera.autojoin "#quick-lint-js"' \
    -r '/connect libera'

WorkingDirectory = /home/qljs-chat-sync
User = qljs-chat-sync

[Install]
WantedBy = network.target

# quick-lint-js finds bugs in JavaScript programs.
# Copyright (C) 2020  Matthew Glazar
#
# This file is part of quick-lint-js.
#
# quick-lint-js is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# quick-lint-js is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with quick-lint-js.  If not, see <https://www.gnu.org/licenses/>.
