{
  "db.file": "/home/qljs-analytics/analytics.sqlite3",
  "chart.directory": "/var/www/admin.quick-lint-js.com/analytics/",

  "apache2.log_files": "/var/log/apache2/matomo_analytics.log*",

  "matomo_analytics.db_host": "localhost",
  "matomo_analytics.db_socket": null,
  "matomo_analytics.db_user": "matomo_analytics",
  "matomo_analytics.db_password": "{{ matomo_db_password }}",
  "matomo_analytics.db_database": "matomo_analytics",

  "vscode.marketplace-personal-access-token": "{{ vscode_marketplace_personal_access_token }}"
}
