# This is the default VirtualHost.
<VirtualHost *:80>
	ServerName quicklintjs.com{{ apache_dev_tld }}
	RewriteEngine on
	RewriteRule ^ https://quick-lint-js.com{{ apache_dev_tld }}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<VirtualHost *:443>
	ServerName quicklintjs.com{{ apache_dev_tld }}
	RewriteEngine on
	RewriteRule ^ https://quick-lint-js.com{{ apache_dev_tld }}%{REQUEST_URI} [END,NE,R=permanent]

	SSLCertificateFile /etc/letsencrypt/live/quicklintjs.com/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/quicklintjs.com/privkey.pem
	Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
